.table_facture
{
    width: 100%;
    overflow: auto;
    margin-left: -3.5px;
    margin-right: 18.5px;
}
.table_semestre.items{
    padding-right: 10px !important;
}

#ajoutDocLoyer {
    white-space: nowrap;
}

td.p-2.space-top {
    padding-top: 25px !important;
}

.indice_valeur_loyer_option {
    display: none;
}

.modal-header.header-confirm-indexation {
    font-weight: 600 !important;
    color: white !important;
    background: #2468c2 !important;
}

.modal-body.body-confirm-indexation {
    font-weight: 400 !important;
    text-align: justify !important;
}

#bail_validation {
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 600;
}

.bail_non_valide {
    color: #dc3545;
}

.bail_valide {
    color: #198754;
}

.bail_actions {
    padding: 5px 20px;
    color: white;
    font-size: 15px;
    transition: all 0.3s;
    margin-bottom: 25px;
}

.bail_actions:hover {
    color: whitesmoke;
}

.bail_action_valid {
    background-color: #198754;
}

/* .bail_action_cloture */
.bail_action_devalid {
    background-color: #dc3545;
}

.btn-outline-history {
    color: #2c7be5;
    border-color: #2c7be5;
    transition: all 0.3s
}

.btn-outline-history:hover {
    color: white;
    border-color: white;
    background-color: #2c7be5;
}

.contain_thead {
    border-right: 1px solid white !important;
    background: #2569C3 !important;
}

button#addindexationmodal {
    margin-top: 15px;
}

/* Dropdown bail options */
button#dropDownBailOption {
    height: 40px;
}

.contain_btn_action_bail a.dropdown-item {
    color: black;
}

.title-detail-bail {
    font-weight: 700;
    font-size: 21px;
    color: #2569c3;
}