.table_export th {
    border-right: 1px solid #ffff;
    background: #2569C3;
    color: white;
}

.table_export td {
    border: 1px solid rgb(220, 229, 248);
}

.badge_download {
    cursor: pointer;
}