.history-container {
    margin-top: 15px;
}

.read-more-history {
    color: white;
    border-color: transparent;
    padding: 3px 15px;
    margin-top: 15px;
    border-radius: 3px;
    background: #2c7be5;
    transition: all 0.3s;
    font-size: 15px;
    font-style: italic;
}

.read-more-history:hover {
    border-color: #2c7be5;
    background-color: transparent;
    color: #2c7be5;
}

.item-history {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    margin: 10px 10px;
}

.item-history .item-history-date {
    font-weight: 600;
}