.WordSection2{
  margin-left: 26%;
  font-family: 'Times New Roman', Times, serif;
}

div.inscriptions{
  border:solid windowtext 1.0pt;
  padding:0cm 4.0pt 1.0pt 4.0pt; 
  background:#31849B; 
  width: 41% !important;
  margin-left: 27% !important;
}
p.MsoNormal{
  font-size:11.0pt;
  font-family:"Segoe UI",sans-serif;
  color:black;
  background:white
}

p.MsoNormale{
  text-align:center;
  background:#31849B;
  border:none;
  padding:0cm;
}
p.MsoNormale2{
  font-size:14.0pt;
  font-family:"Segoe UI",sans-serif;
  color:black;
  background:white
}

div.Section3{
  padding:0px;
  width: 43%;
  margin-left: 26%;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}

div.Section4{
  padding:1.0pt 4.0pt 1.0pt 4.0pt;
  width: 43%;
  margin-left: 26%;
}

div.Section5{
  padding:1.0pt 4.0pt 1.0pt 4.0pt;
  width: 43%;
  margin-left: 26%;
}

div.Section6{
  padding:1.0pt 4.0pt 1.0pt 4.0pt;
  width: 43%;
  margin-left: 26%;
}

div.Section7{
  padding:1.0pt 4.0pt 1.0pt 4.0pt;
  width: 43%;
  margin-left: 26%;
}

div.formule{
  padding:1.0pt 4.0pt 1.0pt 4.0pt;
  width: 43%;
  margin-left: 30%;
}

div.article1{
  padding:1.0pt 4.0pt 1.0pt 4.0pt;
  width: 43%;
  margin-left: 26%;
  padding-top: 3%;
}

div.article2{
  padding:1.0pt 4.0pt 1.0pt 4.0pt;
  width: 43%;
  margin-left: 26%;
}

div.article3{
  padding:1.0pt 4.0pt 1.0pt 4.0pt;
  width: 43%;
  margin-left: 26%;
}

div.article4{
  padding:1.0pt 4.0pt 1.0pt 4.0pt;
  width: 43%;
  margin-left: 26%;
}

div.article8{
  padding:1.0pt 4.0pt 1.0pt 4.0pt;
  width: 43%;
  margin-left: 26%;
}
div.signature{
  border:solid windowtext 1.0pt;
  padding:1.0pt 4.0pt 1.0pt 4.0pt;
  width: 43%;
  margin-left: 26%;
}

div.infos{
  padding:1.0pt 4.0pt 1.0pt 4.0pt;
  width: 43%;
  margin-left: 26%;
}

div.sepa{
  padding:1.0pt 4.0pt 1.0pt 4.0pt;
  width: 43%;
  margin-left: 26%;
  border:solid windowtext 1.0pt;
}

div.titre{
  margin-left: 33%;
}

div.logoclv{
  margin-left: -2%;
}

div.log{
  margin-left: 27%;
}



td.tableautr{
  width: 50%;
}
td.tableautd{
  width: 70%;
}


td.line1{
  width:133.0pt;
  border:solid windowtext 1.0pt;
  border-top:none;
  padding:0cm 3.5pt 0cm 3.5pt;
  height:20.0pt
}
td.line1{
  width:93.55pt;
  border-top:none;
  border-left:none;
  border-bottom:solid windowtext 1.0pt;
  border-right:solid windowtext 1.0pt;
  padding:0cm 3.5pt 0cm 3.5pt;
  height:13.05pt;
  }