.bold {
    font-weight:bold;
    }
.greater {
    background-color: #fc786c;
    color : #ffffff
}



/* horizontal panel*/

.panel-container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid silver; */
  overflow: hidden;
  
  /* avoid browser level touch actions */
  xtouch-action: none;
}

.panel-left {
  flex: 0 0 auto;
  /* only manually resize */
  /* padding: 10px; */
  white-space: nowrap;
  max-width: 1053px;
  min-width: 782px;

}



.panel-right {
  flex: 1 1 auto;
  /* resizable */
  /* padding: 10px;
  width: 100%; */
  min-width: 789px;
}

.splitter {
    flex: 0 0 auto;
    width: 2px;  
    background: center center no-repeat #636E7E;
    height: calc(80vh - 64px);
    padding: 0px;
    cursor: col-resize;  
  }

  #bloc_controle{
    text-align: end;
    position: absolute;
    z-index: 3;
    width: 100%;
  }
  
  #apercu_list_doc{
    overflow: auto;
    max-height: 726px;

  }

  #1icone_pine{
    display: none;
  }
  
  /* .select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: -3px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 10px;
    font-size: 14px;
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0 !important;
    padding: 3px 12px;
    height: 31px !important;
    margin-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 6px !important;
    right: 1px;
    width: 20px
}
.select2-search__field{
  width: 42%;
  left: 10%;
  top: -11px !important;
}
.select2-container .select2-container--default .select2-container--open{
  top: 391.203px !important;
} */
.select2-results__options{
  /* list-style-type: none;
  background: #a4aab2;
  width: 92px;
  top: -10px;
  left: 16px; */
}
.select2 .select2-container s.elect2-container--bootstrap-5 .select2-container--below .select2-container--focus{
  width: 27%;
  left: -4px;
}
.select2-dropdown .select2-dropdown--below{
  background: #a4aab2;
}
.select2-selection__rendered{
  font-size: 14px;
}

.select2 .select2-container .select2-container--bootstrap-5{
  width: 25px;
}

