.select2 .select2-container .select2-container--bootstrap-5 .select2-container--below .select2-container--focus {
    width: 27%;
}

.select2-dropdown .select2-dropdown--below {
    background: #a4aab2;
}

.select2-container--open .select2-dropdown--below {
    width: 200px !important;
    left: -10px!important;
}

.select2-selection__rendered {
    font-size: 14px;
}

.select2 .select2-container .select2-container--bootstrap-5 {
    width: 25px;
}
