.contenair-main {
  width: 100% !important;
  height: calc(100% - 4.5rem) !important;
  background-color: #fff !important;
  margin-top: 0.5rem !important;
  position: relative !important;
}

.container-fluid {
  padding: 0rem !important;
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
}

.row {
  margin: 0rem !important;
  width: 100%;
  height: 100%;
  position: relative;
}

.sidenav {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
}

.sidenav>div {
  padding: .6rem;
}

#app-contenu {
  position: relative !important;
  background-color: #ffff !important;
}

.container-app {
  width: 100%;
  height: 100%;
  position: relative !important;
  background-color: #ffff !important;
  padding: 0rem !important;
}

#contenaire-loyer {
  width: 100%;
  height: 100%;
  position: relative !important;

  display: flex;
  flex-direction: column;
}

#contenaire-loyer>div:last-child {
  height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
}

#contenaire-loyer>div>.tab-content {
  height: calc(100% - 45px) !important;
}

#contenaire-loyer>div>.tab-content>.tab-pane.tab-content.show {
  display: flex;
  flex-direction: column;
}

#contenaire-loyer>div>.tab-content>.tab-pane.tab-content .contenair-title {
  height: auto !important;
}

#contenaire-loyer>div>.tab-content>.tab-pane.tab-content>div:last-child {
  width: 100%;
  height: calc(100% - 45px);
}

.liste-document-customer hr:last-child {
  display: none !important;
}

@media screen and (max-width: 1400px) {
  .libelle-bnt-icon {
    display: none;
  }
}

.bienvenu {
  border-radius: .375rem;
  font-size: 22px;
}

.splitter {
  flex: 0 0 auto;
  width: 2px;
  background: center center no-repeat #636E7E;
  /*height: calc(80vh - 64px);*/
  height: 100%;
  padding: 0px;
  cursor: col-resize;
  margin: 8px;
}


@media screen and (max-width: 1200px) {
  .splitter {
    width: calc(100% - 10px) !important;
    height: 2px !important;
  }
}





.doc_name {
  width: 400px !important;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.colored_table {
  border-right: 1px solid #ffff;
  background: #2569C3 !important;
  text-align: center;
}

.count_encaissement,
.facture_count {
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}

.count_encaissement:hover,
.facture_count:hover {
  color: #2569C3;
}

.input_loyer {
  height: 36px;
  padding: 5px;
}

.group-loyer {
  width: 20px;
  display: flex;
  justify-content: center;
}

.contain_total_loyer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label_total_loyer {
  background: #2569c3;
  width: 50%;
  color: white;
  padding: 7px;
  border: 1px solid;
}

.valeur_total_loyer {
  padding: 7px;
  background: #edf2f9;
  width: 50%;
  text-align: right;
  border: 1px solid white;
}

.mode_paiement,
.echeance_paiement {
  margin-bottom: 10px;
  font-weight: 500;
}

.title-tva-collected label {
  font-size: 14px;
  border-bottom: 1px solid;
}

.error-ttc-montant {
  background: #ff5656;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.main-input-group {
  display: flex;
}

.input-group.input-group-tva {
  width: 60%;
}

.input-group.input-group-montant-tva {
  margin-left: 5px;
}

.td-encaissement {
  padding: 3px 5px !important;
}

.td-encaissement.flex div:first-child {
  display: flex;
  height: 65px;
  align-items: center;
}

select#typeChargeDeductible,
select#typeProduit {
  margin: 0;
  padding-left: 5px;
}

select#encaissement_loyer_charge_deductible_tva,
select#encaissement_loyer_produit_tva {
  margin-bottom: 0px !important;
}

.table_facture {
  overflow: auto;
  width: 100px;
}