.bold {
  font-weight: bold;
}

.greater {
  background-color: #fc786c;
  color: #ffffff
}

.contenair-list {
  overflow-x: hidden !important;
  /*height: 810px;*/
}

/* horizontal panel*/

.panel-container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid silver; */
  overflow: hidden;

  /* avoid browser level touch actions */
  xtouch-action: none;
}

.panel-left {
  flex: 0 0 auto;
  /* only manually resize */
  /* padding: 10px; */
  /*white-space: nowrap;*/
  max-width: 1053px;
  /* min-width: 782px; */

}

.panel-right {
  flex: 1 1 auto;
  /* resizable */
  /* padding: 10px;
  width: 100%; */
  min-width: 789px;
}

.splitter {
  flex: 0 0 auto;
  width: 2px;
  background: center center no-repeat #636E7E;
  height: calc(80vh - 64px);
  padding: 0px;
  cursor: col-resize;
}

#bloc_controle {
  text-align: end;
  position: absolute;
  z-index: 3;
  width: 100%;
}

#apercu_list_doc {
  overflow: auto;
  max-height: 726px;

}

#1icone_pine {
  display: none;
}

.select2 .select2-container .select2-container--bootstrap-5 .select2-container--focus {
  left: 5px !important;
}

.select2 .select2-container .select2-container--bootstrap-5 .select2-container--below .select2-container--focus {
  width: 27%;
  left: 5px !important;
}

.select2-dropdown .select2-dropdown--below {
  background: #a4aab2;
}

.select2-container--open .select2-dropdown--below {
  width: 140px !important;
}

.select2-selection__rendered {
  font-size: 14px;
}

.select2 .select2-container .select2-container--bootstrap-5 {
  width: 25px;
  left: 10px !important;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection {
  left: 10px !important;
}

.split {
  flex: 0 0 auto;
  width: 2px;
  background: center center no-repeat #636E7E;
  height: auto;
  padding: 0px;
  cursor: col-resize;
}

.title_bail {
  border-bottom: 1px solid;
  width: fit-content;
  margin-bottom: 15px;
  font-size: 16px;
  margin-top: 20px;
}

.number_edit_loyer {
  width: 63px !important;
  padding-left: 5px;
}

.date_edit_loyer {
  padding-left: 5px;
  height: 32px;
}

/* .table_table
{
  max-width: 913px;
  overflow-x: scroll;
} */

.btn_history_bail,
.btn_finish_bail,
.button_modif {
  height: 40px;
}

.title_acte {
  border-bottom: 1px solid;
  width: fit-content;
  margin-bottom: 15px;
  font-size: 16px;
  margin-top: 20px;
}

#ajoutDocCharge {
  white-space: nowrap;
}

#ajoutdocActe {
  white-space: nowrap;
}

#ajoutdocTaxe {
  white-space: nowrap;
}

.aucun_bail {
  display: none;
}

.td_bail {
  text-align: center;
}

.td_bail .fas {
  cursor: pointer;
}

.div_client_plus_a_bail {
  border-width: 1px;
  border-radius: 4px;
  padding: 0px 15px;
  font-weight: 500;
  width: fit-content;
  font-size: 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  animation: clignote-div 1s infinite;
}

@keyframes clignote-div {
  0% {
    background-color: white;
    border-color: red;
    color: red;
  }

  100% {
    background-color: red;
    border-color: red;
    color: white;
  }
}