/**** module setting ****/

/**** sous module users ****/
.container-users{
	display: flex;
	flex-direction: column;
	background-color: #fff;
	margin: .5rem;
}

.container-users .title-liste{
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.container-users .container-liste.liste-users{

}

.liste-users{
	display: flex;
	flex-direction: column;
	height: calc(100% - 2.5rem);
	overflow-y: auto !important;
}

.liste-users .row-user{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	border-top: 1px solid #ecedf1;
}
.liste-users .row-user:last-child{
	border-bottom: 1px solid #ecedf1;
}
.liste-users .row-user > div{
	padding: .25rem;
}

.row-user .user-figure{
	display: flex;
    align-items: center;
    justify-content: center;
}
.row-user .user-figure .tile-circle{
    background-color: #346cb0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 50%;
}
.row-user .user-figure .div-userphoto{
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
}
.row-user .user-figure .div-userphoto > a{
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-user .user-figure .div-userphoto a > img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.row-user .info-user{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.info-user > div{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left: 8px;
	padding-right: 8px;
}
.info-user .perso-user{
	min-width: 272px !important;
}
.info-user .contact-user{
	
}
.info-user .adresse-user{
	min-width: 272px !important;
}
.info-user .compte-user{
	
}
.info-user .date-user{
	
}

.info-user div span{
	font-size: .85rem;
}

.info-user div span > span:first-child{
	font-weight: 600;
	color: rgb(95, 105, 125);
}

.info-user div span > span:first-child{
	font-weight: 600;
	color: rgb(95, 105, 125);
}

.info-user div > .mail-user > span:last-child{
	color: #346cb0;
}

.row-user .action-user{
	display: flex;
	align-items: center;
}
.row-user .action-user .dropdown button{
	display: flex;
	align-items: center;
}
.row-user .action-user .dropdown button:focus{
	box-shadow: none !important;
}
.row-user .action-user .dropdown ul > li{
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: .25rem .5rem;
	white-space: nowrap;
	cursor: pointer;
}
.row-user .action-user .dropdown ul li > i{
	font-size: 1.2rem;
}
.row-user .action-user .dropdown ul li > span{
	padding: 0rem .5rem;
}
.row-user .action-user .dropdown ul > li:hover{
	background-color: var(--gray-400);
}

/***** *****/
.form-user {
	height: calc(100% - 2.5rem);
    overflow-y: auto;
    padding: 0.5rem;
    margin: .5rem;
}
.form-user .title-form{
	height: 2.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #ecedf1;
}

.form-user .title-form > .libelle-form{
	height: 100%;
	font-size: 1.25rem;
	display: flex;
	align-items: center;
}
.form-user .title-form > .action-form{
	height: 100%;
	display: flex;
	align-items: center;
}

.form-user .title-form .action-form > button{
	min-width: 100px;
}

.form-user .title-form .action-form > button:not(:last-child){
	margin-right: .5rem;
}
