body{
    overflow-y: auto !important;
}

.div-formLogin{
    width: 100% ;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding-top : 10%;
}
.login-form-box {
    padding: 2px !important;
    background-image: linear-gradient(-45deg, #014ba7, #0183d0);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    width: 350px;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
}

.div-div_home_page{
    width: 100% ;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top : 10%;
}

.div-div_tache_page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.login-form-div_home_page {
    padding: 2px !important;
    background-image: linear-gradient(-45deg, #014ba7, #0183d0);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    width: 800px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
}

.login-form-div_tache_page {
    padding: 2px !important;
    background-image: linear-gradient(-45deg, #014ba7, #0183d0);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    width: 1150px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
}

.contenu_bienvenu {
    font-size: 20px;
    text-align: center;
}

.signin-box-div {
    padding: 30px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.signin-box-div .c_logo{
	display: flex;
	align-items: center;
    justify-content: center;
}

.signin-box-div_home_page {
    padding: 30px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.signin-box-div_home_page .c_logo{
	display: flex;
	align-items: center;
    justify-content: center;
}

.signin-box-div_tache_page {
    padding: 30px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.signin-box-div_tache_page .c_logo{
	display: flex;
	align-items: center;
    justify-content: center;
}
.c_logo .img_logo{

}
.c_logo .text_logo{

}
.c_logo .text_logo > img{
	max-height: 80px;
    margin-right: 5px;
}

.signin-box-div .form-group{
    padding: 0rem;
}

.signin-box-div input {
    background-color: #fff ! important;
    border: none;
    border-bottom: 1px solid #e2e3e4;
    padding-left: 0px ! important;
    box-shadow: none !important;
}

.signin-box-div input::placeholder {
    color: rgba(0, 0, 0,.3) !important;
    font-weight: 400 !important;
}


.signin-box-div input:hover {
    background-color: #fff ! important;
    border-bottom: 1px solid #0183d0!important;
    font-weight: 600 !important;
}

.signin-box-div input:after {
    background-color: #fff ! important;
}

.signin-box-div .form-group label {
    font-size: 14px;
    margin-bottom: .0rem;
}

.signin-box-div .btn {
    font-weight: 700 ! important;
    background-color: #0183d0;
    color: #fff ! important;
    width: 100%;
    border-radius: 0px;
}

.signin-box-div .btn:hover {
    background-color: #0a3c7e ! important;
}

.signin-box-div .btn:focus {
    background-color: #0183d0 ! important;
}