/**** header ****/
.header-app {
    height: 4rem;
    padding: 0rem .6rem;
    background-position: center;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 .1px .25rem rgba(0, 0, 0, .2) !important;
    border-bottom: 1px solid #dadce0;
    background-color: #fff;
}

.header-app>div {
    height: 100%;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.header-app .left-header {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.header-app .left-header>.div-logo {
    cursor: pointer;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-app .left-header>.leftcontainer-header {
    flex: 1;
    display: flex;
    flex-direction: row;
}

/* .header-app .left-header>.leftcontainer-header>div {} */

.header-app .left-header .leftcontainer-header>.libelle-header {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-app .libelle-header {
    margin-left: 50px;
}

.libelle-header>h1 {
    margin: 0rem !important;
    padding: 0 6px;
    display: flex;
    align-items: center;
}

.libelle-header h1>img {
    max-height: 25px;
    margin-right: 5px;
}

.libelle-header h1>span {
    font-size: 20px;
    color: rgb(5, 50, 147, .95);
    font-style: italic;
    font-weight: 600;
}

.header-app .left-header .leftcontainer-header>.menu-header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*** web ***/
.header-app .left-header .leftcontainer-header .menu-header>ul.menu-web {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
}

.menu-item {
    height: 35.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding-bottom: 2px;
}

.menu-header ul.menu-web li.menu-item.active>a {
    color: #fff !important;
}

.menu-header ul>li {
    list-style: none;
    margin-right: 5px;
}

.menu-header ul li>a {
    display: flex;
    align-items: center;
}

.menu-header ul.menu-web li>a {
    border: 1px solid transparent;
    box-shadow: none;
    color: #344050;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .2px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    height: 100%;
    vertical-align: middle;
}

/* .menu-header ul.menu-web>li:hover {
    background-color: #edf2f9;
} */

.menu-header ul.menu-web>li.active {
    background-color: #346cb0;
}

.menu-header ul.menu-web>li.active a span>i {
    background-color: #346cb0;
    color: #fff;
}

.menu-header ul.menu-web li.icon-menu {
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.menu-header ul.menu-web li.icon-menu>a {
    justify-content: center;
}

.menu-header ul.menu-web li a>span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-header ul.menu-web li a span>i {
    font-size: 20px;
}

/********************/

.header-app .right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.header-app .right-header>div {
    height: 100%;
}

.header-app .right-header .icon-menu {
    height: 3rem;
}

.header-app .right-header .icon-profil {
    width: 2.8rem;
    height: 2.8rem;
    padding: .25rem;
    cursor: pointer;
}

.header-app .right-header .icon-profil>a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-app .right-header .icon-profil a>img {
    border-radius: 50%;
    height: 80%;
    /* 100% */
    width: 100%;
}

.dropdown-compte {
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 16.5rem;
    z-index: 991;
    margin-top: 3rem;
    right: 0px;
    margin-right: .25rem;
    padding-top: .1rem;
    max-height: calc(100% - 4rem);
    visibility: hidden;
    height: 0rem;
}

.dropdown-compte.show {
    visibility: visible !important;
    min-height: 16.25rem !important;
}

.dropdown-compte .div-content-compte {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown-compte .div-content-compte>div {
    padding: 16px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d9d9d9;
}

.dropdown-compte .div-content-compte>.div-compte {
    flex-direction: column;
}

.div-compte>.button {
    border-radius: 15px !important;
}

.lang_logo>a>img {
    width: 23px !important;
    height: 23px !important;
    cursor: pointer;
}

.dropdown-compte .div-content-compte div>.photo-compte-user {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .4);
    padding: 2px;
    margin-bottom: 16px;
    margin-right: 33px;
}

.photo-compte-user>img {
    width: max-content;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.photo-compte-user>.btn-change-photo {
    bottom: 25px;
    right: 0px;
    height: 30px;
    width: 30px;
    margin-left: auto;
    position: relative;
    background-color: #fff;
    border-radius: 50%;
    padding: 1.5px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, .2);
}

/**** container app ****/

.container-app {
    height: calc(100% - 3rem);
    width: 100%;
    /*position: relative;*/
    display: flex;
    flex-direction: row;
    padding-left: .5rem;
    padding-right: .5rem;
}

/**** ****/

/**** sidebare menu  ****/
.sidebar-menu {
    width: 240px;
    background: #fff;
    height: 100%;
    padding: .25rem;
    border-right: 1px solid #dadce0;
}


.contenair-main-sidebar {
    width: calc(100% - 240px) !important;
}


.sidebar-menu>ul {
    margin: 0rem;
}

.sidebar-menu ul .item-sidebar {}

.sidebar-menu ul .item-sidebar>a {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .25rem .5rem;
    border-radius: 4px;
    color: var(--c-navbar-vertical-link-color);
}

.sidebar-menu ul .item-sidebar>a:hover {
    background-color: #edf2f9;
}

.sidebar-menu ul .item-sidebar>a>i {
    font-size: 22px;
    width: 20px;
    margin-right: .5rem;
}

.sidebar-menu ul .item-sidebar>a>span {
    flex: 1;
}

.sidebar-menu ul .item-sidebar>a.item-collapsed::after {
    width: 1.25em;
    display: flex;
    align-items: center;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.sidebar-menu ul .item-sidebar>a.item-collapsed[aria-expanded="true"] {
    color: var(--c-primary);
}

.sidebar-menu ul .item-sidebar>a.item-collapsed[aria-expanded="true"]::after {
    transform: rotate(90deg);
}

.sidebar-menu ul .item-sidebar>a.item-collapsed[aria-expanded="true"]:hover {
    background-color: #fff;
}

.sidebar-menu ul .item-sidebar .collapse>ul>li {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 2px;
}

.sidebar-menu ul .item-sidebar .collapse>ul>li.active,
.sidebar-menu ul .item-sidebar .collapse>ul>li.active>a:hover {
    background-color: #346cb0;
}


.sidebar-menu ul .item-sidebar .collapse>ul>li>a,
.sidebar-menu ul .item-sidebar .collapsing>ul>li>a {
    display: flex;
    align-items: center;
    color: var(--c-navbar-vertical-link-color);
    padding: .25rem .5rem;
    border-radius: 4px;
}

.sidebar-menu ul .item-sidebar .collapse>ul>li.active>a,
.sidebar-menu ul .item-sidebar .collapsing>ul>li.active>a {
    color: #fff;
}

.sidebar-menu ul .item-sidebar .collapse>ul>li>a:hover {
    background-color: #edf2f9;
}

@media screen and (min-width: 800px) {
    #sidenav {
        display: block !important;
        width: 239px !important;
        background: #1f659e !important;
        position: relative !important;
        opacity: 1 !important;
    }
}

.sidenav {
    background: #1f659e !important;
    overflow-y: auto !important;
}

.sidenav #menu > .main_menu,
.sidenav #menu > .nav-item{
    width: 100%;
    padding-left: .7rem;
    padding-right: .2rem;
}

.sidenav .main_menu{
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
}

.sidenav .main_menu > .svg-inline--fa{
    margin-top: .2rem;
    margin-right: .2rem;
}

.sidenav .main_menu > span{
     font-size: 15px !important;
}

.sidenav #menu .nav-link{
    font-size: 15px !important;
}

@media screen and (max-width: 800px) {
    .header-app .left-header>.div-logo {
        width: 100%;
    }

    .logo-img {
        text-align: center;
    }

    .logo-img img {
        margin-left: -43px;
        position: absolute;
        height: 47px;
        top: -18px;
    }

    .libelle-header {
        /* position: fixed; */
        display: none !important;
    }

    .libelle-header:hover {
        /* position: fixed; */
        cursor: pointer ! important;
    }

    .user_name:hover {
        /* position: fixed; */
        background-color: white;
    }

    .navbar-toggler {
        display: block !important;
    }

    #sidenav {
        display: none;
        width: 0px;
        white-space: nowrap;
    }

    #sidenav * {
        white-space: nowrap;
    }

    #app-contenu {
        height: 850px;
        overflow-y: auto;
    }
}

/***** *****/

.div-client-conseil {
    width: auto;
}

.image-client-conseil {
    position: relative;
    display: inline-flex;
    width: auto;
    padding-top: 3rem;
}

.image-client-conseil .image-silouette {
    max-width: 240px;
}

.image-client-conseil .image-silouette>img {
    width: 95%;
}

.text-conseil,
.contenu-conseil {
    min-width: 350px;
}

.bubble {
    margin-top: -3rem;
    margin-left: -4rem;
    position: absolute;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    /* max-width: 350px; */
    /*background: #b6b9be;*/
    background: #d4f2ff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
}

.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #d4f2ff;
    border-right: 12px solid transparent;
    border-top: 12px solid #d4f2ff;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  .blink-icon {
    animation: blink 3s infinite; /* Change the duration as needed */
  }