:root {
    --blue: #2c7be5;
    --indigo: #727cf5;
    --purple: #6b5eae;
    --pink: #ff679b;
    --red: #e63757;
    --orange: #fd7e14;
    --yellow: #f5803e;
    --green: #00d27a;
    --teal: #02a8b5;
    --cyan: #27bcfd;
    --white: #fff;
    --gray: #748194;
    --gray-dark: #4d5969;
    --gray-black: #000;
    --gray-100: #f9fafd;
    --gray-200: #edf2f9;
    --gray-300: #d8e2ef;
    --gray-400: #b6c1d2;
    --gray-500: #9da9bb;
    --gray-600: #748194;
    --gray-700: #5e6e82;
    --gray-800: #4d5969;
    --gray-900: #344050;
    --gray-1000: #232e3c;
    --gray-1100: #0b1727;
    --gray-white: #fff;
    --primary: #2c7be5;
    --secondary: #748194;
    --success: #00d27a;
    --info: #27bcfd;
    --warning: #f5803e;
    --danger: #e63757;
    --light: #f9fafd;
    --dark: #0b1727;
    --primary-rgb: 44, 123, 229;
    --secondary-rgb: 116, 129, 148;
    --success-rgb: 0, 210, 122;
    --info-rgb: 39, 188, 253;
    --warning-rgb: 245, 128, 62;
    --danger-rgb: 230, 55, 87;
    --light-rgb: 249, 250, 253;
    --dark-rgb: 11, 23, 39;
    --white-rgb: 255, 255, 255;
    --black-rgb: 0, 0, 0;
    --body-color-rgb: 94, 110, 130;
    --body-bg-rgb: 237, 242, 249;
}

html {
    font-size: 100% !important;
    height: 100% !important;
    width: 100% !important;
}

body {
    position: relative;
    margin: 0px;
    padding: 0px;
    /*font-family: Arial,Helvetica,sans-serif;*/
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /*background-color: var(--white);*/
    color: #4c4f53;
    overflow-x: hidden;
    overflow-y: auto;
}

html,
body {
    height: 100% !important;
    width: 100% !important;
    overflow-x: hidden;
    overflow-y: hidden;
    text-rendering: optimizeLegibility;
}

aside,
footer,
header,
main,
nav,
section {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

a {
    text-decoration: none !important;
}

button,
input:focus {
    box-shadow: none !important;
}

textarea:hover,
input:hover,
select:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
select:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

/**** *****/

.pace .pace-progress {
    top: 4rem !important;
}

.logo-img img {
    max-height: 60px;
    margin-left: 8px;
    position: relative;
}

/**** button fermer ****/
button.fermer {
    border-radius: 50%;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    margin-top: -3px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0, 0.6);
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-appearance: button;
    text-decoration: none;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

button.fermer:hover {
    background: rgb(0, 0, 0, 0.2);
}


/***** ******/
.contenair-main {
    width: calc(100% - 0.5rem);
    height: calc(100% - 1rem);
    background-color: #fff;
    margin-top: 0.5rem;
}

/***** contenair title *****/

.contenair-title {
    height: 3rem;
    width: 100%;
    border-bottom: 1px solid #dadce0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: .5rem;*/
}

.contenair-title>div {
    height: 100%;
    display: flex;
    align-items: center;
}

.contenair-title>div:first-child>ul {
    margin: 0rem !important;
    padding-left: 1rem !important;
}

.contenair-title ul>li {
    list-style: none;
    font-size: 16px;
    color: #344050;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 5px;
}

.tab-content {
    width: 100%;
    height: calc(100% - 40px);
}

.tab-content>div {
    width: 100%;
    height: 100%;
    overflow-y: hidden !important;
}

/**** contenair list ****/

form {
    width: 100%;
    height: 100%;
    padding: 0rem;
    margin: 0rem;
}

.contenair-list {
    height: calc(100% - 2.5rem);
    flex: 1;
    overflow-y: auto !important;
    padding: .5rem;
}

table {
    margin-bottom: .0rem !important;
}

.contenair-content {
    height: calc(100% - 2.5rem);
    flex: 1;
    overflow-y: auto !important;
    padding: 0.5rem;
}

/***** *****/

.form-group {
    position: relative;
    width: 100%;
    padding: .25rem;
}

.form-group>div {
    display: flex;
    flex-direction: column;
}

.form-group>div>input {}

.form-group>div>.help {
    /*font-size: .75rem;*/
    font-size: 10.5px !important;
    letter-spacing: normal;
    margin: 3px;
    display: flex;
    align-items: center;
    /*height: 1.125rem;*/
    /*height: 15px ! important;*/
    justify-content: right;
}

.form-group.has-error .help {
    color: #DB2828 ! important;
}

.form-group.inline>div {
    display: flex;
    flex-direction: row;
    /*min-height: 3.625rem;*/
    min-height: 2.825rem;
}

.form-group.inline>div>label {
    margin: 0rem !important;
    white-space: nowrap;
    font-size: .875rem;
    font-weight: 500 !important;
    height: 2rem;
    /* min-width: 11.25rem; */
    display: flex;
    align-items: center;
    padding-right: .625rem;
}

.form-group.inline>div>label[data-width="100"] {
    width: 100px !important;
}

.form-group.inline>div>label[data-width="150"] {
    width: 150px !important;
}

.form-group.inline>div>label[data-width="200"] {
    width: 200px !important;
}

.form-group.inline>div>label[data-width="250"] {
    width: 250px !important;
}

.form-group.inline>div>label[data-width="300"] {
    width: 300px !important;
}

.form-group.inline>div>label[data-width="350"] {
    width: 350px !important;
}

.form-group.inline>div>label[data-width="400"] {
    width: 400px !important;
}

.form-group.inline>div>input {}

.form-group.inline>div>.help {
    margin: 3px;
    display: flex;
    align-items: center;
    position: absolute;
    /*top : 2.1875rem;*/
    top: 1.8rem;
    right: 3px;
}

.form-group.inline.textarea_form>div>.help {
    margin: 3px;
    display: flex;
    align-items: center;
    position: absolute;
    /*top : 2.1875rem;*/
    /*top : 1.8rem;*/
    top: 0rem;
    right: 3px;
    margin-top: 6.5rem;
}

.form-group.inline.switch>div {
    min-height: 2rem !important;
    padding-bottom: 1.125rem;
}

.form-group.inline.switch .form-check.form-switch {
    display: flex;
    align-items: center;
    padding-left: .5rem !important;
}

.form-group.inline.switch .form-switch .form-check-input {
    margin-left: .5rem !important;
    margin-right: .5rem !important;
}

.status-user {
    display: flex;
}

.switch-Inlist {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.switch-Inlist .form-check.form-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0rem !important;
    margin: 0rem !important;
    padding: 0rem !important;
}

.switch-Inlist .form-check.form-switch>input {
    margin: .2rem .5rem .0rem .5rem !important;
}

.form-control,
.form-select {
    background-color: #fff;
    /*background-image: none;*/
    border: 1px solid rgba(33, 33, 33, .14);
    border-top-color: rgba(33, 33, 33, .21);
    font-family: sans-serif, sans-serif;
    -webkit-appearance: none;
    color: #212121;
    outline: 0;
    line-height: 16px;
    font-size: .875rem;
    font-weight: 400;
    vertical-align: middle;
    height: 2rem;
    -webkit-transition: all .12s ease;
    transition: all .12s ease;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: background .2s linear 0s;
    transition: background .2s linear 0s;
    background-clip: padding-box;
}

.form-group .form-control {
    margin-bottom: 0rem !important;
}

.form-select>option {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.form-control[readonly] {
    background-color: #fff !important;
}

.form-control.detail,
.form-select.detail {
    border: none !important;
    box-shadow: none !important;
}


/*** notification ****/

.page-message {
    position: fixed;
    top: 3.5rem;
    left: 50%;
    padding: .2rem 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    color: #fff;
    background-color: rgb(0, 0, 0, 0.8);
    text-align: center;
    z-index: 1030;
    box-shadow: 0 1rem 3rem rgba(20, 20, 31, .175);
    transform: translate3d(-50%, 0, 0);
    cursor: pointer;
}

.page-message.error {
    background-color: rgb(227 31 31 / 80%) !important;
}

.page-message.warging {
    background-color: rgb(215 177 21 / 85%) !important;
}

.page-message.succes {
    background-color: rgb(21 215 147 / 85%) !important;
}

@media (min-width:768px) {
    .page-message {
        top: 4.25rem;
        width: auto;
        max-width: 48rem;
        border-radius: 4px;
    }
}

.page-message a:not(.btn) {
    text-decoration: underline;
}

hr {
    border-bottom: 1px solid #e2e3e4 !important;
}

.btn-action-table>div {
    display: flex;
    align-items: center;
}

.btn-action-table div>button.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .2rem;
    height: 30px;
    width: 30px;
}

.btn-action-table div>button.icon-btn:last-child {
    margin-right: 0rem;
}

.tasks {
    /* display: inline-flex; */
    flex-direction: column;
    /* width: 23rem; */
    height: 100%;
    vertical-align: top;
    background-color: #e6e8ed;
    box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
    border-radius: .25rem
}

.tasks:not(:last-child) {
    margin-right: 1.25rem
}

/*.tasks.hover {
	/*background-color: #d6d8e1*/

.tasks-action {
    display: inline-block;
    width: 18rem;
    padding: .5rem;
    vertical-align: top;
    background-color: #e6e8ed;
    box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
    border-radius: .25rem
}

.tasks-action:not(:last-child) {
    margin-right: 1.25rem
}

.task-header {
    padding: .5rem .75rem 0;
    display: flex;
    align-items: center;
    font-weight: 600
}

.task-header .btn-reset {
    padding: .5rem
}

.task-title {
    margin: 0;
    font-size: 1rem
}

.task-body {
    padding: .5rem;
    min-height: 2rem;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto
}

.task-issue {
    border-radius: .25rem
}

.task-issue:not(:last-child) {
    margin-bottom: .5rem
}

.task-issue>.card {
    margin-bottom: 0
}

.task-issue>.card>.card-header {
    border: 0;
    white-space: normal
}

.task-issue>.card>.card-header>a {
    color: inherit
}

.task-issue>.card>.card-header>a:focus,
.task-issue>.card>.card-header>a:hover {
    color: inherit;
    text-decoration: none
}

.task-label-group {
    margin: .125rem 0;
    display: block;
    line-height: 1;
    white-space: normal
}

.task-label {
    margin-right: .125rem;
    display: inline-block;
    width: 2rem;
    height: .5rem;
    border-radius: .5rem;
    background-color: #346cb0
}


#menu li:hover {
    background: #b76618 !important;
}

.nav-item {
    width: 100%;
    padding-left: 5px;
}

.active {
    background: #838d94 !important;
    color: white;
}

#menu {
    width: 100%;
}

.main_menu span {
    letter-spacing: 0.5px;
    /*font-size: 14px;*/
    font-weight: 500;
}

.title-contain-menu {
    background: whitesmoke;
    padding: 10px;
    font-weight: 600;
    border: 1px solid grey;
    border-radius: 0px;
}

.btn-locmeublee {
    background-color: #0f5d9c;
    font-weight: 400;
    color: white;
}

.btn-locmeublee:hover {
    background-color: #4189c4;
    font-weight: 400;
    color: rgb(233, 231, 231);
}

.tab-menu.active {
    background-color: #d3d3d3 !important;
    color: #1c6daf !important;
    border-bottom: 3.5px solid #1F659E !important;
}

.tab-content {
    color: black !important;
    background-color: white !important;
    padding: 5px;
}

.error {
    border-color: red;
}