body {
    overflow-y: auto !important;
    background-color: #E4E5E6;
}

.div-formLogin {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding-top: 8%;
}

.div-formLoginChangepass {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding-top: 6%;
}

.login-form-box {
    padding: 2px !important;
    /* background-image: linear-gradient(-45deg, #014ba7, #0183d0); */
    /* box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%); */
    width: 700px;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 800px) {
    .login-form-box {
        padding: 2px !important;
        width: 95%;
        min-height: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn_annuler_forgetpass {
        margin-left: -15%;
    }

    .content_change #btn_annuler_forgetpass {
        margin-left: -15%;
    }
}

.signin-box-div {
    padding: 30px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 92%;
    justify-content: center;
    border: 1px solid #C9CFD4;
    border-radius: 5px;
}

.signin-box-div .c_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c_logo .img_logo {}

.c_logo .text_logo_mdp>img {
    max-height: 70px;
}

.c_logo .text_logo>img {
    max-height: 90px;
    margin-right: 5px;
}

.signin-box-div .form-group {
    padding: 0rem;
}

.signin-box-div input {
    background-color: #fff ! important;
    border: none;
    border-bottom: 1px solid #e2e3e4;
    padding-left: 0px ! important;
    box-shadow: none !important;
}

.signin-box-div input::placeholder {
    color: rgba(0, 0, 0, .3) !important;
    font-weight: 400 !important;
}


.signin-box-div input:hover {
    background-color: #fff ! important;
    border-bottom: 1px solid #0183d0 !important;
    font-weight: 600 !important;
}

.signin-box-div input:after {
    background-color: #fff ! important;
}

.signin-box-div .form-group label {
    font-size: 14px;
    margin-bottom: .0rem;
}

.signin-box-div-changepass {
    padding: 30px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: center;
    border: 1px solid #C9CFD4;
    border-radius: 5px;
}

.signin-box-div-changepass .c_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-box-div-changepass .form-group {
    padding: 0rem;
}

.signin-box-div-changepass input {
    background-color: #fff ! important;
    border: none;
    border-bottom: 1px solid #e2e3e4;
    padding-left: 0px ! important;
    box-shadow: none !important;
}

.signin-box-div-changepass input::placeholder {
    color: rgba(0, 0, 0, .3) !important;
    font-weight: 400 !important;
}

.signin-box-div-changepass input:hover {
    background-color: #fff ! important;
    border-bottom: 1px solid #0183d0 !important;
    font-weight: 600 !important;
}

.signin-box-div-changepass input:after {
    background-color: #fff ! important;
}

.signin-box-div-changepass .form-group label {
    font-size: 14px;
    margin-bottom: .0rem;
}

.signin-box-div-interconnexion {
    padding: 30px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: center;
    border: 1px solid #C9CFD4;
    border-radius: 5px;
}

.signin-box-div-interconnexion .c_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-box-div-interconnexion .form-group {
    padding: 0rem;
}

.signin-box-div-interconnexion .form-group label {
    font-size: 14px;
    margin-bottom: .0rem;
}


.signin-box-div-interconnexion input:after {
    background-color: #fff ! important;
}

.signin-box-div-interconnexion .form-group label {
    font-size: 14px;
    margin-bottom: .0rem;
}

.title_groupe {
    margin-bottom: 20px;
}

.form_login_group {
    margin-bottom: 15px;
}

.title_login {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px !important;
    font-weight: 500 !important;
}

.sous_title_login {
    font-family: unset;
    font-weight: 400;
    font-size: 15px;
    opacity: 0.8;
}

.motpass_oublie {
    font-size: 15px !important;
    font-weight: 400 !important;
    color: #0e5188 !important;
}

#btn_reinit_password {
    background-color: #0e5188;
    font-weight: 400;
}

#btn_send_new_password {
    background-color: #0e5188;
    font-weight: 400;
}

.btn_seconnecter {
    background-color: #0e5188;
    font-weight: 400;
}

#btn_change_password {
    background-color: #0e5188;
    font-weight: 400;
}

#btn_change_valider {
    background-color: #0e5188;
    font-weight: 400;
}

#btn_annee_valider {
    background-color: #0e5188;
    font-weight: 400;
}

.form_login_group label {
    font-family: unset;
    font-weight: lighter;
    font-size: 15px;
}

.motpass_oublie:hover {
    font-size: 15px !important;
    font-weight: 400 !important;
    color: #1d7291 !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.signin-box-div-forgetpass {
    padding: 30px 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 84%;
    justify-content: center;
    border: 1px solid #C9CFD4;
    border-radius: 5px;
}

.signin-box-div-forgetpass .c_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-box-div-forgetpass .form-group {
    padding: 0rem;
}

.signin-box-div-forgetpass input {
    background-color: #fff ! important;
    border: none;
    border-bottom: 1px solid #e2e3e4;
    padding-left: 0px ! important;
    box-shadow: none !important;
}

.signin-box-div-forgetpass input::placeholder {
    color: rgba(0, 0, 0, .3) !important;
    font-weight: 400 !important;
}


.signin-box-div-forgetpass input:hover {
    background-color: #fff ! important;
    border-bottom: 1px solid #0183d0 !important;
    font-weight: 600 !important;
}

.signin-box-div-forgetpass input:after {
    background-color: #fff ! important;
}

.signin-box-div-forgetpass .form-group label {
    font-size: 14px;
    margin-bottom: .0rem;
}

.title_login_forget_pass {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px !important;
    font-weight: 500 !important;
}

.bouton_forget_pass {
    display: flex;
}

.btn_annuler_forgetpass {
    background-color: #636E7E;
    font-weight: 400;
    color: #fff;
}

.btn_annuler_forgetpass:hover {
    font-weight: 400;
    color: #fff;
}

.lang_logo>a>img {
    width: 23px;
    height: 23px;
    cursor: pointer;
}