.contenair-main {
    width: 100% !important;
    height: calc(100% - 4.5rem) !important;
    background-color: #fff !important;
    margin-top: 0.5rem !important;
    position: relative !important;
}

.container-fluid {
    padding: 0rem !important;
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
}

.row {
    margin: 0rem !important;
    width: 100%;
    height: 100%;
    position: relative;
}

.sidenav {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
}

.sidenav>div {
    padding: .6rem;
}

#app-contenu {
    position: relative !important;
    background-color: #ffff !important;
}

.container-app {
    width: 100%;
    height: 100%;
    position: relative !important;
    background-color: #ffff !important;
    padding: 0rem !important;
}

#contenaire-depenses {
    width: 100%;
    height: 100%;
    position: relative !important;

    display: flex;
    flex-direction: column;
}

#contenaire-depenses>div:last-child {
    height: calc(100% - 48px);
    display: flex;
    flex-direction: column;
}

#contenaire-depenses>div>.tab-content {
    height: calc(100% - 45px) !important;
}

#contenaire-depenses>div>.tab-content>.tab-pane.tab-content.show {
    display: flex;
    flex-direction: column;
}

#contenaire-depenses>div>.tab-content>.tab-pane.tab-content .contenair-title {
    height: auto !important;
}


#contenaire-depenses>div>.tab-content>.tab-pane.tab-content>div:last-child {
    width: 100%;
    height: calc(100% - 45px);
}

.liste-document-customer hr:last-child {
    display: none !important;
}

@media screen and (max-width: 1400px) {
    .libelle-bnt-icon {
        display: none;
    }
}

.bienvenu {
    border-radius: .375rem;
    font-size: 22px;
}

.splitter {
    flex: 0 0 auto;
    width: 2px;
    background: center center no-repeat #636E7E;
    /*height: calc(80vh - 64px);*/
    height: 100%;
    padding: 0px;
    cursor: col-resize;
    margin: 8px;
}


@media screen and (max-width: 1200px) {
    .splitter {
        width: calc(100% - 10px) !important;
        height: 2px !important;
    }
}