.contenair-main {
    width: 100% !important;
    height: calc(100% - 4.5rem) !important;
    background-color: #fff !important;
    margin-top: 0.5rem !important;
    position:  relative !important;
}

.container-fluid{
    padding: 0rem !important;
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
}

.row{
    margin : 0rem !important;
    width: 100%;
    height: 100%;
    position: relative;
}

.sidenav{
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
}

.sidenav > div{
    padding: .6rem;
}

#app-contenu{
    position: relative !important;
    background-color: #ffff !important;
}

.container-app{
    width: 100%;
    height: 100%;
    position: relative !important;
    background-color: #ffff !important;
    padding: 0rem !important;
}

#contenaire-acceuil{
    width: 100%;
    height: 100%;
    position: relative !important;
    display: flex;
    flex-direction: column;
    overflow-y: auto !important;
}